<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AdamController.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AdamController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
       
    </startup>
  <userSettings>
    <AdamController.Core.Properties.Settings>
      <setting name="VideoDataExchangePort" serializeAs="String">
        <value>18000</value>
      </setting>
      <setting name="MessageDataExchangePort" serializeAs="String">
        <value>15005</value>
      </setting>
      <setting name="ServerIP" serializeAs="String">
        <value>192.168.50.10</value>
      </setting>
      <setting name="BaseTheme" serializeAs="String">
        <value>Light</value>
      </setting>
      <setting name="ThemeColorScheme" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="DisplaySetBlocks" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BlocklyShowTrashcan" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlocklyGridSpacing" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="BlocklyGridLenth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BlocklyGridColour" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklySnapToGridNodes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyShowGrid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppLanguage" serializeAs="String">
        <value>ru</value>
      </setting>
      <setting name="BlocklyLogicCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyColorCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyListsCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyLoopCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyMathCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyProcedureCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyDynamicVariableCategoryState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlocklyVariableCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyLogicCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyColourCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyListsCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyLoopCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyMathCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyProcedureCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyDynamicVariableCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyVariableCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="ChangeToolboxLanguageToggleSwitchState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChangeBlocklyThemeToggleSwitchState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChangeGridColorSwitchToggleSwitchState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChangeSpacingSwitchToggleSwitchState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlocklyEditorWidth" serializeAs="String">
        <value>854</value>
      </setting>
      <setting name="BlocklySourceEditorHeight" serializeAs="String">
        <value>512</value>
      </setting>
      <setting name="BlocklyRestoreBlockOnLoad" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SavedUserWorkspaceFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SavedUserCustomBlocksFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SavedUserScriptsFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SavedUserToolboxFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyTextCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyTextCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShadowWorkspaceInDebug" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TcpConnectStatePort" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="BenchmarkTcpSizeByteArray" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="BenchmarkTestServerIp" serializeAs="String">
        <value>192.168.50.10</value>
      </setting>
      <setting name="BenchmarkTestTcpServerPort" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="BenchmarkTestTcpClientsQty" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BenchmarkTestTcpMessageQty" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="BenchmarkTestTcpTime" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="BenchmarkTestUdpTime" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="BenchmarkTcpTestPort" serializeAs="String">
        <value>16001</value>
      </setting>
      <setting name="BenchmarkUdpTestPort" serializeAs="String">
        <value>16002</value>
      </setting>
      <setting name="BenchmarkUdpSizeByteArray" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="BenchmarkTestUdpMessageQty" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="BenchmarkTestUdpClientsQty" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BenchmarkTcpConnectStatePort" serializeAs="String">
        <value>16000</value>
      </setting>
      <setting name="BenchmarkAddEnvironmentParametersToResult" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SavedResultsNetworkTestsFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ReconnectQtyComunicateTcpClient" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ReconnectQtyBenchmarkComunicateTcpClient" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReconnectTimeoutComunicateTcpClient" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ReconnectTimeoutBenchmarkComunicateTcpClient"
        serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoStartTcpConnect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoStartTestTcpConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsMessageShowOnAbortMainConnection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NotificationOpacity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BlocklyAdamThreeCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyAdamTwoCategoryState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlocklyAdamThreeCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyAdamTwoCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyAdamCommonCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyAdamCommonCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyDateTimeCategoryState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlocklyDateTimeCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="ApiLogin" serializeAs="String">
        <value>adam</value>
      </setting>
      <setting name="ApiPassword" serializeAs="String">
        <value>adam1234</value>
      </setting>
      <setting name="ApiPort" serializeAs="String">
        <value>5147</value>
      </setting>
      <setting name="CheckServerVersion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogServerPort" serializeAs="String">
        <value>7071</value>
      </setting>
      <setting name="ChangeExtendedExecuteReportToggleSwitchState"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DontShowBrowserMenuInBlockly" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoketServerPort" serializeAs="String">
        <value>8000</value>
      </setting>
      <setting name="AppThemeName" serializeAs="String">
        <value />
      </setting>
      <setting name="CreateUserDirrectory" serializeAs="String">
        <value>True</value>
      </setting>
    </AdamController.Core.Properties.Settings>
    <AdamController.Properties.Settings>
      <setting name="VideoDataExchangePort" serializeAs="String">
        <value>18000</value>
      </setting>
      <setting name="MessageDataExchangePort" serializeAs="String">
        <value>15005</value>
      </setting>
      <setting name="ServerIP" serializeAs="String">
        <value>192.168.50.10</value>
      </setting>
      <setting name="BaseTheme" serializeAs="String">
        <value>Light</value>
      </setting>
      <setting name="ThemeColorScheme" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="DisplaySetBlocks" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BlocklyShowTrashcan" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlocklyGridSpacing" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="BlocklyGridLenth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BlocklyGridColour" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklySnapToGridNodes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyShowGrid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppLanguage" serializeAs="String">
        <value>ru</value>
      </setting>
      <setting name="BlocklyLogicCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyColorCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyListsCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyLoopCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyMathCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyProcedureCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyDynamicVariableCategoryState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlocklyVariableCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyLogicCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyColourCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyListsCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyLoopCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyMathCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyProcedureCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyDynamicVariableCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyVariableCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="ChangeToolboxLanguageToggleSwitchState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChangeBlocklyThemeToggleSwitchState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChangeGridColorSwitchToggleSwitchState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChangeSpacingSwitchToggleSwitchState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlocklyEditorWidth" serializeAs="String">
        <value>854</value>
      </setting>
      <setting name="BlocklySourceEditorHeight" serializeAs="String">
        <value>512</value>
      </setting>
      <setting name="BlocklyRestoreBlockOnLoad" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SavedUserWorkspaceFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SavedUserCustomBlocksFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SavedUserScriptsFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SavedUserToolboxFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyTextCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyTextCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShadowWorkspaceInDebug" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TcpConnectStatePort" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="BenchmarkTcpSizeByteArray" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="BenchmarkTestServerIp" serializeAs="String">
        <value>192.168.50.10</value>
      </setting>
      <setting name="BenchmarkTestTcpServerPort" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="BenchmarkTestTcpClientsQty" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BenchmarkTestTcpMessageQty" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="BenchmarkTestTcpTime" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="BenchmarkTestUdpTime" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="BenchmarkTcpTestPort" serializeAs="String">
        <value>16001</value>
      </setting>
      <setting name="BenchmarkUdpTestPort" serializeAs="String">
        <value>16002</value>
      </setting>
      <setting name="BenchmarkUdpSizeByteArray" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="BenchmarkTestUdpMessageQty" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="BenchmarkTestUdpClientsQty" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BenchmarkTcpConnectStatePort" serializeAs="String">
        <value>16000</value>
      </setting>
      <setting name="BenchmarkAddEnvironmentParametersToResult" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SavedResultsNetworkTestsFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ReconnectQtyComunicateTcpClient" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ReconnectQtyBenchmarkComunicateTcpClient" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReconnectTimeoutComunicateTcpClient" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ReconnectTimeoutBenchmarkComunicateTcpClient"
        serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoStartTcpConnect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoStartTestTcpConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsMessageShowOnAbortMainConnection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NotificationOpacity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BlocklyAdamThreeCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyAdamTwoCategoryState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlocklyAdamThreeCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyAdamTwoCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyAdamCommonCategoryState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlocklyAdamCommonCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="BlocklyDateTimeCategoryState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlocklyDateTimeCategoryAlternateName" serializeAs="String">
        <value />
      </setting>
      <setting name="ApiLogin" serializeAs="String">
        <value>adam</value>
      </setting>
      <setting name="ApiPassword" serializeAs="String">
        <value>adam1234</value>
      </setting>
      <setting name="ApiPort" serializeAs="String">
        <value>5147</value>
      </setting>
      <setting name="CheckServerVersion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogServerPort" serializeAs="String">
        <value>7071</value>
      </setting>
      <setting name="ChangeExtendedExecuteReportToggleSwitchState"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DontShowBrowserMenuInBlockly" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoketServerPort" serializeAs="String">
        <value>8000</value>
      </setting>
    </AdamController.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ControlzEx" publicKeyToken="69f1c32f803d307e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
